*.DS_Store
*.aux
*.log
*.pdf
*.fdb_latexmk
*.synctex.gz
*.out
*.glo
*.gls
*.idx
*.ilg
*.ind
*.fls
*.toc
*.tar.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.tar
nodetree/*
*_nodetree.tex
*_nodetree.log
_minted*
*.nttex
*.ntlog
_nodetree*
